.container__attachment {
    width: 100%;
    height: 580px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(https://keramstroi.ru/a5ff2cdf87b24124d9bdfae367b36bbe.jpg);
}

.attachment__footer {
    width: 100%;
    height: 120px;
    background-color: black;
}

.attachment__body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.365);
}

.attachment__body-text {
    width: 90%;
    align-items: center;
    display: flex;
    gap: 4%;
    flex-direction: column;
    height: 70%;
}
.attachment__body-text h1 {
    font-size: 4em;
    width: 100%;
    font-family: "Montserrat";
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}
.attachment__body-text .border__line {
    width: 30%;
    height: 3px;
    border-radius: 1px;
    background-color: #fff;
}
.attachment__body-text .p-text {
    width: 90%;
    /* margin-left: 12%; */
    align-items: center;
}
.attachment__body-text .p-text p {
    color: #fff;
    font-family: "Montserrat";
    text-align: center;
    font-size: 22px;
    word-wrap: break-word;
    width: 90%;
}
.attachment__body-text .attachment__body-btn {
    width: 80%;
    display: flex;
    justify-content: center;
}
.attachment__body-text .attachment__body-btn a {
    color: black;
    background-color: orange;
    padding: 2% 8%;
    font-family: "Montserrat";
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.2s;
    animation: text-point 1s linear infinite alternate-reverse;
}
@keyframes text-point {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(30px);
    }
}
